@model PYME.Models.MovimientoInventario

<h2 class="mb-3">➕ Registrar Entrada</h2>

<form asp-action="Entrada" method="post" class="row g-3">

    <div class="col-md-12">
        <label asp-for="Id_Producto" class="form-label">Producto</label>
        <select asp-for="Id_Producto" class="form-select">
            @foreach (var p in ViewBag.Productos)
            {
                <option value="@p.Id_Producto">@p.Nombre</option>
            }
        </select>
    </div>

    <div class="col-md-12">
        <label asp-for="Id_Usuario" class="form-label">Usuario</label>
        <select asp-for="Id_Usuario" class="form-select">
            @foreach (var u in ViewBag.Usuarios)
            {
                <option value="@u.Id">@u.Nombre @u.Primer_Apellido - @u.UserName</option>
            }
        </select>
    </div>

    <div class="col-md-6">
        <input asp-for="Cantidad" class="form-control" />
    </div>

    <div class="col-md-6">
        <select asp-for="Descripcion" asp-items="ViewBag.Descripciones" class="form-select"></select>
    </div>

    <button class="btn btn-success">Guardar</button>
</form>