@model List<PYME.Models.Usuario>

<h2>Usuarios</h2>

<a asp-action="Crear" class="btn btn-success mb-3">Nuevo</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Username</th>
            <th>Rol</th>
            <th>Email</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nombre @u.Primer_Apellido</td>
                <td>@u.UserName</td>
                <td>@u.RolNombre</td>
                <td>@u.Email</td>
                <td>
                    @(u.Estado ? "Activo" : "Inactivo")
                </td>
                <td>
                    <a asp-action="Detalle" asp-route-id="@u.Id" class="btn btn-primary btn-sm">Ver</a>
                    <a asp-action="Editar" asp-route-id="@u.Id" class="btn btn-warning btn-sm">Editar</a>

                    <form asp-action="Eliminar" asp-route-id="@u.Id" method="post" style="display:inline;">
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>